<div class="dashboard">
  <update [type]='"twitter"' [data]='twitterMentions'></update>
  <update [type]='"sales"' [data]='sales'></update>
  <update [type]='"visitors"' [data]='visitors'></update>
  <update [type]='"messages"' [data]='messages'></update>

  <yearly-sales [sales]='yearlySales' [visitors]='yearlyVisitors' [customers]='yearlyCustomers'></yearly-sales>

  <weather [type]='weatherType' [temperature]='weatherTemperature' [location]='weatherLocation'></weather>

  <data-widget [type]='"hosting"' [max]='hostingMax' [count]='hostingCount'></data-widget>
  <data-widget [type]='"email"' [max]='emailMax' [count]='emailCount'></data-widget>

  <notifications-widget [twitter]='notificationsTwitter' [email]='notificationsEmail' [money]='notificationsMoney'></notifications-widget>

  <data-graph [earnings]='dataGraphEarnings'></data-graph>

  <calendar></calendar>

  <todo></todo>

  <chart-stats [data]='lineChartData' [labels]='lineChartLabels' [colors]='lineChartColors' [legend]='lineChartLegend' [type]='lineChartType'></chart-stats>
</div>
