@import '../../../../assets/scss/utils/colors';

$dashboard-bg-col: color(wild-sand);

//---dashboard---
//---------------
.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 27px 32px;

  background: $dashboard-bg-col;

  > * {
    margin-bottom: 26px;
  }
}

///////////////////////////////////////////
