<div class="dashboard">
  <update [type]='"twitter"' [data]='twitterMentions'></update>
  <update [type]='"sales"' [data]='sales'></update>
  <update [type]='"visitors"' [data]='visitors'></update>
  <update [type]='"messages"' [data]='messages'></update>

  <yearly-sales [sales]='yearlySales' [visitors]='yearlyVisitors' [customers]='yearlyCustomers'></yearly-sales>

  <weather [type]='weatherType' [temperature]='weatherTemperature' [location]='weatherLocation'></weather>

  <data-widget [type]='"hosting"' [max]='hostingMax' [count]='hostingCount'></data-widget>
  <data-widget [type]='"email"' [max]='emailMax' [count]='emailCount'></data-widget>

</div>
